<h2>Login</h2>

<form method="post" action="/login">
    <p>
        <label>Email</label><br>
        <input type="text" name="email">
    </p>

    <p>
        <label>Password</label><br>
        <input type="text" name="password">
    </p>

    <p>
        <input type="submit" value="Login">
    </p>
</form>

Don't have an account? <a href="/signup">Sign Up</a>