<style>

  .divide {
    width:68%;
    height:auto;
    display:inline-block;
  } 

  #name, #email {
    display:inline-block;
  }

</style>

<h2 id="name">Hello, <%= @user.name %></h2>
<div class="divide"></div>
<h2 id="email"><%= @user.email %></h2><br><br>

Your Posted Events:
<% @user.events.each do |event| %>
  <p>
    <a href="/events/<%= event.id %>"><%= event.title %></a>
  </p>
<% end %>