<h4><%= @user.name %></h4><br><br>
<h4><%= @user.email %></h4><br><br>

<ol>
  <% @user.events.each do |event| %>
  <li>
    <a href="/events/<%= event.id %>">
      <p><%= event.title %></p>
      </a>
  </li>
  <% end %>
</ol>