<h2>Create Your Events Postings Account</h2>

<form method="post" action="/users">
  <p>
    <label>Name</label>
    <br>
    <input type="text" name="name">
  </p>

  <p>
    <label>Email</label>
    <br>
    <input type="text" name="email">
  </p>

  <p> 
    <label>Password</label>
    <br>
    <input type="text" password="password">
  </p>
 
  <p>
    <input type="submit" value="Signup">
  </p>  
</form>

<a href="/">Back</a>
