<h2>All Events</h2>

<% @events.each do |event| %>
    <p>
        Event: <a href="/events/<%= event.id %>"><%= event.title %></a> 
        <br>
        Hosted By: <%= event.user.name %>
    </p>
<% end %>