<h2>create a new event</h2>

<form method="post" action="/events">
    <p>
        <label>label</label><br>
        <input type="text" name="title">
    </p>   
    <p>
        <label>label</label><br>
        <textarea type="text" name="description"></textarea>
    </p>
    <p>
        <label>label</label><br>
        <input type="text" name="location">
    </p>
    <p>
        <label>label</label><br>
        <input type="text" name="date">
    </p>
        <label>label</label><br>
        <input type="text" name="time">
    </p>
    <p>
        <input type="submit" value="Create Event">
    </p>
</form>