<h2>Login</h2>

<% if flash[:message] %>
    <h3><%= flash[:message] %></h3>
<% end %>

<form method="post" action="/login">
    <label>Email</label>
    <input type="text" name="email">
    <label>Password</label>
    <input type="text" name="password">
    <input type="submit" value="Login">
</form>

<a href="/">Back</a>