<h2>Login</h2>

<form method="post" action="/login">
    <label>Email</label>
    <input type="text" name="email">
    <label>Password</label>
    <input type="text" name="password">
    <input type="submit" value="Login">
</form>

<a href="/">Back</a>