<h2>Signup</h2>

<form method="post" action="/users">
    <label>Name</label>
    <input type="text" name="name">
    <label>Email</label>
    <input type="text" name="email">
    <label>Password</label>
    <input type="text" password="password">
    <input type="submit" value="Signup">
</form>