<style>
  .align {
    text-align: center;
  }
</style>

<h2 class="align">Welcome to Event Postings</h2>
<h3 class="align">A simple way to provide community-wide notifications for upcoming events.</h3>

<br>
<br>

<p class="align">Log in to your account: <a href="/login">Log In</a></p>
<p class="align">Create a new account: <a href="/signup">Sign Up</a></p>